<!-- saved from url=(0028)http://ejohn.org/apps/learn/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Advanced JavaScript - Aidan Feldman</title>
<link rel="stylesheet" href="assets/deck.css">
<link rel="stylesheet" href="vendor/recipes.css">
<script src="vendor/jquery.js"></script>
<script src="vendor/underscore.js"></script>
<script src="vendor/jquery.chili.js"></script>
<script src="vendor/recipes.js"></script>
<script src="assets/deck.js"></script>
<script src="assets/helpers.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19048260-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
<h3 class="">Advanced JavaScript</h3>
<div id="area">
<pre id="pre" class="javascript" style="height: 425px; ">
</pre>
<form id="form">
<div class="buttons" style="display: none; ">
<input type="submit" value="Run" class="run" id="run">
<input type="button" id="prev" value="<< Prev">
<input type="button" id="next" value="Next >>">
</div>
<div id="container">
	<textarea id="code" wrap="off" style="height: 425px; "></textarea>
	<ol id="results"></ol>
	<p id="cite">Get the source code, syllabus and resources <a href="https://github.com/advanced-js/syllabus">here</a>.  Slides by <a href="http://afeld.me">Aidan Feldman</a>.  Template blatantly stolen from <a href="http://ejohn.org/apps/learn">John Resig</a>.</p>
</div>
</form>
</div>
<dl style="display: none; ">

	<% slides.forEach(function(slide){ %>
		<dt><%= slide.file %></dt>
		<dd>
			<pre><%= slide.code %></pre>
		</dd>
	<% }); %>

</dl>


</body></html>