nav[data-toggle=toc] {
  margin-top: 30px;
}

.github-fork-ribbon {
  background-color: #50ba9b;
}

.logo {
  height: 2em;
  vertical-align: baseline;
}

footer {
  color: #757575;
  font-size: 0.9em;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

/* small screens */
@media (max-width: 768px) {
  /* override the Affix plugin so that the navigation isn't sticky */
  nav.affix[data-toggle='toc'] {
    position: static;
  }

  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle=toc] .nav .active .nav {
    display: none;
  }
}
